$width:350px;
body{
    margin: 0;
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
     
    
}
header{
    background-color: #008000;   
    padding: 5px;
    h2{
        color: white;
    }
}
#mid{
    
  #leftArrow{
    float:left;
    margin-top: 20vh;
    margin-left: 15vw;
  }
  #rightArrow{
    float:right;
    margin-top: 20vh;
    margin-right: 15vw;
  }
    #wrap{
        overflow: hidden;         
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0px 4px 25px -4px rgba(0,0,0,1);
        //animation: ani 5s infinite ease-in-out;
        border-radius: 5px;
     
      
     border: 1px solid black;
     
     #content{
      
       
         #divWrap{ 
           animation-name: rotate;
           animation-duration: 30s;
           animation-iteration-count: infinite;

        
           width: 30vw;
          
              
            display: flex;
           
             #card{
                display: flex;
                flex-direction: column;
                padding: 5px;
                 min-width: 30vw;
                align-items: center;
                 background-color: white;
                 border: solid 1px black;     
                 .label{
                     p{
                         margin-left: 2vw;
                         font-size: 20px;
                         font-weight: bold;
                     }
                     display: flex;
                     label{
                         font-size: 24px;
                         margin-top: 1vh;
                         
                     }
                 }
             }
         }
   
     }
     button{
         height: 10vh;
          
         margin: 10vh 11vw;
     }
      
      
     
 }
 
}
 #searchLabel{
    margin-left: 36%;
 }
#search{
    width: 20vw;
    margin-left: 36%;
}
#enter{
    width: 5vw;
    height: 3vh;
    border-radius: 5px;
    color: white;
    background-color: green;
}

@keyframes rotate {
    0%{
        transform: translateX(-30vw);
    }
    20%{transform: translateX(-60vw);}
    40%{transform: translateX(-90vw);}
    60%{transform: translateX(-120vw);}
    80%{transform: translateX(-150vw);}
    100%{transform: translateX(-180vw);}    
}